apiVersion: v1
kind: Secret
metadata:
  name: backend-secrets
  namespace: vetclinic
type: Opaque
stringData:
  DATABASE_PASSWORD: "cambiar-por-contraseña-real"
  JWT_SECRET: "cambiar-por-jwt-secret-real"
  MAIL_USERNAME: "tu-email@gmail.com"
  MAIL_PASSWORD: "tu-app-password"
  TWILIO_ACCOUNT_SID: "opcional"
  TWILIO_AUTH_TOKEN: "opcional"
  TWILIO_PHONE_NUMBER: "opcional"

